<div class="container">
  <h1>Research and Development</h1>
  <div class="menu-container">
    <a mat-button routerLink="home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="waf-policy" routerLinkActive="active"
      >WAF Policy</a
    >
    <a mat-button routerLink="waf-policy2" routerLinkActive="active"
      >WAF Policy 2</a
    >
    <a mat-button routerLink="ips-policy-summary" routerLinkActive="active"
      >IPS Policy Summary</a
    >
  </div>
  <hr />
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
