.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    a {
      cursor: pointer;
      text-decoration: none;
    }

    .active {
      background-color: goldenrod;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    padding-top: 0;
  }
}
